<!-- upload_csv.html -->
{% extends 'base.html' %}

{% block title %}Subir Archivo CSV{% endblock %}
{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <!-- Logo de la empresa -->
    <img src="{{ url_for('static', path='images/logo.jpg') }}" alt="Logo de Grupo Arga" class="logo mb-4">

    <!-- Título principal -->
    <h1 class="mb-4">Agregar nuevo Job</h1>

    <!-- Formulario de subida -->
    <form id="uploadForm" class="text-center w-50 p-4 border rounded shadow-sm bg-light">
        <label for="fileInput" class="file-label btn btn-primary w-100 mb-3">
            Seleccionar archivo CSV
            <input type="file" id="fileInput" accept=".csv" hidden>
        </label>
        <p id="fileName" class="file-name text-muted mb-3">Ningún archivo seleccionado</p>
        <button type="submit" class="btn btn-success w-100">Subir</button>
    </form>

    <!-- Spinner -->
    <div id="spinner" class="spinner hidden mt-3"></div>

    <!-- Notificación -->
    <div id="notification" class="notification hidden mt-3"></div>

</div>

<!-- Incluye el archivo JS -->
<script src="{{ url_for('static', path='js/script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
{% endblock %}